body {
    background-image: url("https://cdn.esawebb.org/archives/images/screen/weic2425a.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#date,
#time {
    font-size: 36px;
    font-family: Impact, Charcoal, sans-serif;
    color: pink;
    margin: 10px 0;
    text-shadow: 0 0 5px #000, 0 0 5px #000, 0 0 5px #000, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 55px #000000, 0 0 75px #000000, 0px 0px 0px rgba(13, 5, 10, 0);
}